<h1 mat-dialog-title (click)="onNoClick()" class="d-flex"><button mat-button>
        <mat-icon>close</mat-icon>
    </button></h1>

<form [formGroup]="form" (submit)="updateTerminalType()">

    <div class="form-group">
        <label for="type">Enter type:</label>

        <input type="text" class="form-control" name="type" formControlName="type" placeholder={{data.element.type}}>

        <div *ngIf="f.type.touched && f.type.invalid" class="alert alert-danger mt-1">

            <div *ngIf="f.type.errors.required">type is required.</div>
            <div *ngIf="f.type.errors.minlength">type should be more than 2 characters.</div>

            <div *ngIf="f.type.errors.maxlength">type should be less than 60 characters.</div>
        </div>
    </div>


    <div class="modal-footer">
        <button mat-raised-button type="submit" [disabled]="!form.valid  || (processing)" class="mt-5"
            color="secondary">Create</button>

    </div>

</form>