<div class="main-content">
    <div class="container-fluid mb-5">
        <div class="row">

            <div class="col-md-5 col-xl-5 ">
                <mat-card>
                    <mat-card-subtitle>Manage Partners</mat-card-subtitle>



                    <div class="row justify-content-start">
                        <div class="col-md-7 col-xl-7">
                            <mat-form-field>
                                <input matInput class="search-form-field" [(ngModel)]="searchKeyPartner" autocomplete="off"
                                    placeholder="Filter" (keyup)="filterPartner()" />
                                <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKeyPartner"
                                    (click)="onSearchClearPartner()">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="col-md-5 col-xl-5">
                            <button color="secondary" id="newPartnerbtn" matTooltip="Add new partner"
                                (click)="openCreatePartner()" mat-raised-button>
                                <mat-icon>account_balance</mat-icon> New Partner
                            </button>

                        </div>

                          <div class="col-md-4 col-xl-4">
                        <button class="" matTooltip="Export to excel" mat-raised-button id="excelExport"
                            (click)="exporter.exportTable('xlsx', {fileName:'partners'})"><i class="fa fa-file-excel-o"
                                aria-hidden="true"></i>
                            Export to excel
                        </button>
                    </div> 



                    </div>


                    <div class="row">
                        <table mat-table #exporter="matTableExporter" matTableExporter  matSort [dataSource]="dataSourcePartner" class="mat-elevation-z8"
                            >

                            <!-- Weight Column -->
                            <ng-container matColumnDef="namePartner">
                                <th mat-header-cell *matHeaderCellDef> Partner </th>
                                <td mat-cell *matCellDef="let element"> {{element.namePartner | uppercase}} </td>
                                <td mat-footer-cell *matFooterCellDef>

                                </td>

                            </ng-container>



                            <!-- Activated status Column -->
                            <ng-container matColumnDef="activated">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>

                                <td mat-cell *matCellDef="let element">
                                    <ng-container *ngIf="element.activated === false">

                                        <i class="fa fa-ban" id="deactivatedIcon" aria-hidden="true"
                                            style="font-size: 22px;"></i>
                                    </ng-container>

                                    <ng-container *ngIf="element.activated === true">
                                        <i class="fa fa-check-circle-o" id="activatedIcon" aria-hidden="true"
                                            style="font-size: 22px;"></i>
                                    </ng-container>
                                </td>

                                <td mat-footer-cell *matFooterCellDef> </td>

                            </ng-container>


                            <!-- Actions Column -->
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef>Actions</th>
                                <td mat-cell *matCellDef="let element">


                                    <!--ACTIVATE/DEACTIVATE USER  BUTTON-->

                                    <ng-container *ngIf="element.activated === false">
                                        <button class="mr-3" color="#cecece"
                                            (click)="openActivateModal(element)" mat-raised-button
                                            ngbTooltip="activate partner" tooltipClass="tooltipclass" placement="top"><i
                                                class="fa fa-check-circle-o" aria-hidden="true"
                                                style="font-size: 22px;"></i>

                                        </button>

                                    </ng-container>

                                    <ng-container *ngIf="element.activated === true">
                                        <button class="mr-3" color="#cecece"
                                            (click)="openDeactivateModal(element)" mat-raised-button
                                            ngbTooltip="deactivate partner" tooltipClass="tooltipclass"
                                            placement="top"><i class="fa fa-times" aria-hidden="true"
                                                style="font-size: 18px;"></i></button>

                                    </ng-container>

                                    <button class="mr-1" (click)="openUpdatePartner(element)" tabindex="-1"
                                        ngbTooltip="edit partner" mat-raised-button>
                                        <i class="fa fa-edit"></i>
                                    </button>




                                </td>

                                <td mat-footer-cell *matFooterCellDef> </td>

                            </ng-container>





                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator #paginatorPartner [hidden]="this.processing" [length]="250" [pageSize]="5"
                            [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButton>
                        </mat-paginator>


                    </div>

                </mat-card>
            </div>


            <div class="col-md-7 col-xl-7">
                <mat-card>
                    <mat-card-subtitle>Manage Branches</mat-card-subtitle>

                    <div class="row justify-content-start">
                        <div class="col-md-4 col-xl-4">
                            <mat-form-field>
                                <input matInput class="search-form-field" [(ngModel)]="searchKeyBranch" autocomplete="off"
                                    placeholder="Filter" (keyup)="filterBranch($event)" />
                                <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKeyBranch"
                                    (click)="onSearchClearBranch()">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <button color="secondary" id="newPartnerbtn" matTooltip="Add new partner"
                                (click)="openCreateBranch()" mat-raised-button>
                                <mat-icon>account_balance</mat-icon> New Branches
                            </button>

                        </div>

                        <div class="col-md-4 col-xl-4">
                            <button class="" matTooltip="Export to excel" mat-raised-button id="excelExport"
                                (click)="exporter.exportTable('xlsx', {fileName:'branches'})"><i class="fa fa-file-excel-o"
                                    aria-hidden="true"></i>
                                Export to excel
                            </button>
                        </div>



                    </div>


                    <div class="row">
                        <table mat-table #exporter="matTableExporter" matTableExporter  matSort [dataSource]="dataSourceBranch"
                            class="mat-elevation-z8" >

                            <ng-container matColumnDef="partner">
                                <th mat-header-cell *matHeaderCellDef> Partner </th>
                                <td mat-cell *matCellDef="let element"> {{element.partner.namePartner | uppercase}} </td>

                                <td mat-footer-cell *matFooterCellDef>

                                </td>

                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="nameBranch">
                                <th mat-header-cell *matHeaderCellDef> Branches </th>
                                <td mat-cell *matCellDef="let element"> {{element.nameBranch}} </td>
                                <td mat-footer-cell *matFooterCellDef>

                                </td>

                            </ng-container>

                            <ng-container matColumnDef="point">
                                <th mat-header-cell *matHeaderCellDef> Point </th>
                                <td mat-cell *matCellDef="let element"> {{element.pointOfPresence.town | uppercase}} </td>
                                <td mat-footer-cell *matFooterCellDef>

                                </td>

                            </ng-container>



                            <!-- Activated status Column -->
                            <ng-container matColumnDef="activated">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>

                                <td mat-cell *matCellDef="let element">
                                    <ng-container *ngIf="element.activated === false">

                                        <i class="fa fa-ban" id="deactivatedIcon" aria-hidden="true"
                                            style="font-size: 22px;"></i>
                                    </ng-container>

                                    <ng-container *ngIf="element.activated === true">
                                        <i class="fa fa-check-circle-o" id="activatedIcon" aria-hidden="true"
                                            style="font-size: 22px;"></i>
                                    </ng-container>
                                </td>

                                <td mat-footer-cell *matFooterCellDef> </td>

                            </ng-container>


                            <!-- Actions Column -->
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef>Actions</th>
                                <td mat-cell *matCellDef="let element">


                                    <!--ACTIVATE/DEACTIVATE USER  BUTTON-->

                                    <ng-container *ngIf="element.activated === false">
                                        <button class="mr-3" color="#cecece" mat-raised-button
                                            ngbTooltip="activate partner" tooltipClass="tooltipclass" placement="top"><i
                                                class="fa fa-check-circle-o" aria-hidden="true"
                                                style="font-size: 22px;"></i>

                                        </button>

                                    </ng-container>

                                    <ng-container *ngIf="element.activated === true">
                                        <button class="mr-3" color="#cecece" mat-raised-button
                                            ngbTooltip="deactivate partner" tooltipClass="tooltipclass"
                                            placement="top"><i class="fa fa-times" aria-hidden="true"
                                                style="font-size: 18px;"></i></button>

                                    </ng-container>

                                    <button class="mr-1" (click)="openUpdateBranch(element)" tabindex="-1"
                                        ngbTooltip="edit partner" mat-raised-button>
                                        <i class="fa fa-edit"></i>
                                    </button>




                                </td>

                                <td mat-footer-cell *matFooterCellDef> </td>

                            </ng-container>





                            <tr mat-header-row *matHeaderRowDef="displayedColumnsBranch"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsBranch;"></tr>
                        </table>
                        <mat-paginator #paginatorBranch [hidden]="this.processing" [length]="100" [pageSize]="5"
                            [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButton>
                        </mat-paginator>


                    </div>


                </mat-card>

            </div>


        </div>
    </div>



    <div class="row" style="margin-top: 20px;">

        <div class="col-md-6 col-xl-6">
            <mat-card>
                <mat-card-subtitle>Manage Points of presence</mat-card-subtitle>

                <div class="row justify-content-start">
                    <div class="col-md-7 col-xl-7">
                        <mat-form-field>
                            <input matInput class="search-form-field" [(ngModel)]="searchKeyPointOfPresence" autocomplete="off"
                                placeholder="Filter" (keyup)="filterPointOfPresence()" />
                            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKeyPointOfPresence"
                                (click)="onSearchClearPointOfPresence()">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="col-md-5 col-xl-5">
                        <button color="secondary" id="newPartnerbtn" matTooltip="Add new partner"
                            (click)="openCreatePoint()" mat-raised-button>
                            <mat-icon>account_balance</mat-icon> New Point of presence
                        </button>

                    </div>





                </div>
                <div class="row" style="margin-top: 25px;">
                    <table mat-table  #exporter="matTableExporter" matTableExporter  matSort [dataSource]="dataSourcePointOfPresence" class="mat-elevation-z8"
                       >

                        <!-- Region Column -->
                        <ng-container matColumnDef="region">
                            <th mat-header-cell *matHeaderCellDef> region </th>
                            <td mat-cell *matCellDef="let element"> {{element.region.nameRegion | uppercase}} </td>
                            <td mat-footer-cell *matFooterCellDef>

                            </td>

                        </ng-container>


                        <!-- town Column -->
                        <ng-container matColumnDef="town">
                            <th mat-header-cell *matHeaderCellDef> town </th>
                            <td mat-cell *matCellDef="let element"> {{element.town | uppercase}} </td>
                            <td mat-footer-cell *matFooterCellDef>

                            </td>

                        </ng-container>



                        <!-- Activated status Column -->
                        <ng-container matColumnDef="activated">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>

                            <td mat-cell *matCellDef="let element">
                                <ng-container *ngIf="element.activated === false">

                                    <i class="fa fa-ban" id="deactivatedIcon" aria-hidden="true"
                                        style="font-size: 22px;"></i>
                                </ng-container>

                                <ng-container *ngIf="element.activated === true">
                                    <i class="fa fa-check-circle-o" id="activatedIcon" aria-hidden="true"
                                        style="font-size: 22px;"></i>
                                </ng-container>
                            </td>

                            <td mat-footer-cell *matFooterCellDef> </td>

                        </ng-container>


                        <!-- Actions Column -->
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef>Actions</th>
                            <td mat-cell *matCellDef="let element">


                                <!--ACTIVATE/DEACTIVATE USER  BUTTON-->

                                <ng-container *ngIf="element.activated === false">
                                    <button class="mr-3" color="#cecece"
                                        (click)="openActivateModal(element)" mat-raised-button
                                        ngbTooltip="activate partner" tooltipClass="tooltipclass" placement="top"><i
                                            class="fa fa-check-circle-o" aria-hidden="true"
                                            style="font-size: 22px;"></i>

                                    </button>

                                </ng-container>

                                <ng-container *ngIf="element.activated === true">
                                    <button class="mr-3" color="#cecece"
                                        (click)="openDeactivateModal(element)" mat-raised-button
                                        ngbTooltip="deactivate partner" tooltipClass="tooltipclass" placement="top"><i
                                            class="fa fa-times" aria-hidden="true"
                                            style="font-size: 18px;"></i></button>

                                </ng-container>

                                <button class="mr-1" (click)="openUpdatePoint(element)" tabindex="-1"
                                    ngbTooltip="edit partner" mat-raised-button>
                                    <i class="fa fa-edit"></i>
                                </button>




                            </td>

                            <td mat-footer-cell *matFooterCellDef> </td>

                        </ng-container>





                        <tr mat-header-row *matHeaderRowDef="displayedColumnsPoint"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsPoint;"></tr>
                    </table>
                    <mat-paginator #paginatorPointOfPresence [hidden]="this.processing" [length]="250" [pageSize]="5"
                        [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButton>
                    </mat-paginator>


                </div>

            </mat-card>
        </div>
    </div>
</div>