.main-content{
    margin-right: 20px;
}

 
 table {
     width: 100%;
    border-spacing: 40px;
  }

  td{
      padding-right: 10px;
  } 

  i{
      float: left;
      width: 50px;
      height: 50px;
  }

  .separation{
      margin-top: 25px;
      margin-bottom: 25px;
  }



.report {
  
   background: url('https://upload.wikimedia.org/wikipedia/commons/2/2e/Wood_background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100%;
    border-radius: 1%;
}

.paper {
    width: 850px;
    height: 900px;
    background-color: #fff;
    background-image: linear-gradient(var(--lines) 0.05em, transparent 0.05em);
    background-size: 100% 2em;
    position: relative;
    box-shadow: 15px 15px 33px rgba(27, 27, 27, 0.1);
    
    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 0;
    }

    &:before {
        height: 100%;
        width: 2px;
        background-color: var(--margin-line);
        left: 4em;
        z-index: 2;
    }

    &:after {
        height: 6em;
        width: 100%;
        background-color: #fff;
        left: 0;
        z-index: 1;
    }

    .holes {
        background-color: #eee;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: block;
        z-index: 10;
        margin-left: 1em;
        margin-top: 6em;

        &:before,
        &:after {
            content: "";
            width: 35px;
            height: 35px;
            background-color: #eee;
            position: absolute;
            border-radius: 50%;
        }

        &:before {
            top: 50%;
        }

        &:after {
            top: calc(100% - 6em);
        }
    }
}

textarea {
    position: absolute;
    top: 6rem;
    left: 4rem;
    width: calc(100% - 5rem);
    height: calc(100% - 7rem);
    background-color: transparent;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1;
    padding-left: 1rem;
    margin: 0;
    resize: none;
}
