.main-content{
    margin-right: 20px;
}

 
 table {
     width: 100%;
    border-spacing: 40px;
  }

  td{
      padding-right: 10px;
  } 

  i{
      float: left;
      width: 50px;
      height: 50px;
  }

  .separation{
      margin-top: 25px;
      margin-bottom: 25px;
  }

